streamlit
s3fs
PyPDF2
thefuzz
pandas
numpy
streamlit-pdf-viewer
doctr==1.7.0  # Use a version that actually exists
torch==1.13.1  # Remove +cpu (Streamlit Cloud handles this automatically)
torchvision==0.14.1  # Remove +cpu
python-doctr